stages:
  - build
  - deploy

variables:
  APP_NAME: RemindersServer
  INSTALL_DIR: ~/RemindersServer
  SWIFT: /Library/Developer/Toolchains/swift-5.7.3-RELEASE.xctoolchain/usr/bin/swift

build:
  stage: build
  tags:
    - macos
  script:
    - $SWIFT --version
    - rm -rf .build/checkouts/swift-collections
    - $SWIFT package resolve
    - $SWIFT build -c release
  artifacts:
    paths:
      - .build/release/RemindersServer
    expire_in: 1 hour

deploy:
  stage: deploy
  tags:
    - macos
  script:
    - mkdir -p $INSTALL_DIR
    - pkill $APP_NAME || true
    - sleep 2
    - cp .build/release/$APP_NAME $INSTALL_DIR/
    - cd $INSTALL_DIR && nohup ./$APP_NAME > app.log 2>&1 &
    - sleep 3
    - pgrep $APP_NAME && echo "Server started successfully"
  only:
    - main
  dependencies:
    - build
